<div class="task_form">
  <%= form_tag(tasks_new_path, method: :post) do %>
    <div class="form_contents">
      <p class= "form_title">Create a new task.</p>
      <div class="form_wrrap">
        <div class="label"><%= label_tag :Title %></div>
        <div class="title_firld"><%= text_field_tag :title %></div>
      </div>
      <div class="form_wrrap">
        <div class="label"><%= label_tag :Details %></div>
        <div class="details_firld"><%= text_area_tag :details %></div>
      </div>
      <div class="btn"><%= submit_tag "create" %></div>
      </div>
  <% end %>
</div>