<div class="btn-wrapper">
<div class="btn edit"><%= link_to "edit", "#{@task.id}/edit"%></div>
<div class= "btn done"><%= link_to "done","/task_types/#{@select_type.id}/tasks/#{@task.id}", method: :delete%></div>
</div>
<p class="detail_item_label">Title</p>
<div class="detail_title"><%= @task.title %></div>
<p class="detail_item_label">Details</p>
<%= simple_format @task.detail %>
<p class="detail_item_label">Progress</p>
<% @progresses.each do |progress| %>
<%= simple_format progress.text %>
<% end %>

<%= form_for [@select_type, @task, @progress] do |f| %>
<%= f.text_area :text, class: "progress_form" %>
<%= f.submit "追加" %>
<% end %>
